* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

:root {
    --main-color: #08E0E9;
    --text-color: #0f172a;
    --another-dark: #161718;
    --blanco-color: #ffff;
    --cinza: #d8d8d88e;
}

